<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<table border=1>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>detail</th>
      <th>deadline_at</th>
    </tr>
  </thead>

  <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= link_to task.name, task_path(task.id) %></td>
          <td><%= task.detail %></td>
          <td><%= task.deadline_at %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<p>
<%= link_to "タスク作成", new_task_path %>
</p>