<h2>タスク新規登録</h2>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @task.errors.any? %>
    <h3><%= @task.errors.count %>件のエラーがあります。</h3>
    <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
<% end %>
 
<%= render "form" %>

<%= link_to "タスク一覧画面へ戻る", tasks_path %>